//This file is for create your style with relation on space of footer
footer {
  background-color: $dark-background;
  padding: 2rem 30rem;

  a {
    color: $primary-color;
    text-decoration: none;
  }

  a.nav-link {
    color: $text-dim;
  }

  .columns {
    justify-content: space-between;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
