//This file is for create your style with relation on space of navbar
#nav {
  padding: 3rem 50px;
  height: 60px;
  

  &__content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
  }

  &__phone-numbers {
    display: flex;
    align-items: center;
    padding: 0 5rem;
    font-size: 0.9rem;

    & div {
      padding: 0 10px;
    }

    & div:nth-of-type(2) {
      border-left: 1px solid $primary-color;
    }
  }
  &__action-btn {
    padding-right: 5rem;
  }
  &__menu-icon {
    width: 55px;
    height: auto;
    vertical-align: middle;
    padding-left: 1rem;
  }
}
