@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");

//Colors
$dark-background: #040000;
$light-background: #f7f7f7;
$primary-color: #eb5f22;
$text-dark: #000;
$text-white: #edeeef;
$text-dim: #b6b6b6;

//Grid
$gutter-vertical: 1rem;
$gutter-horizontal: 4em;

//FONTs
$default-font-size: 10px;
$small-text:0.8rem;
$font-family: "Poppins", sans-serif;
