body {
  background-color: $dark-background;
}
//HERO SECTION
#hero-section {
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 30rem;
  padding-right: 60rem;
  padding-top: 80px;
}
//WELCOME SECTION
#welcome-section {
  display: flex;
  padding-bottom: 5rem;
  align-items: center;

  &__video {
    flex: 1;
    max-width: 40%;
    height: auto;
    margin-top: -5rem;
  }
  & .card-black {
    width: 400px;
    margin-left: 5rem;
    margin-top: 3rem;

    & p,
    h2 {
      margin-bottom: 3rem;
    }
  }

  //SERVICES SECTION
}
#services-section {
  padding-left: 30rem;
  padding-right: 35rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 5rem;

  h2 {
    padding-bottom: 4rem;
  }
}

//IMAGES SECTION
#images-section {
  height: 100vh;
  background-color: $light-background;
  color: $text-dark;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "lgv m1 m2 m3"
    "lgv lgh lgh m4";
}
#lgv {
  grid-area: lgv;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../img/neurons.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#m1 {
  grid-area: m1;
  background-image: url("../img/2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#m2 {
  grid-area: m2;
  background-image: url("../img/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#m3 {
  grid-area: m3;
  background-image: url("../img/4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#lgh {
  grid-area: lgh;
  background-image: url("../img/6.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#m4 {
  grid-area: m4;
  background-image: url("../img/5.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
//ROBOTICA SECTION
#robotica-section {
  padding-top: 8rem;
  padding-left: 30rem;
  padding-right: 30rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 15rem;

  h2 {
    margin-bottom: 8rem;
  }
}

//STORIES SECTION
#stories-section {
  color: black;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../img/mountain-background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-left: 30rem;
  padding-right: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5rem;

  #feature-story {
    display: flex;
    justify-content: center;

    &__img {
      width: 50%;
      margin-top: -8rem;
      color: white;
    }
    &__desc {
      width: 50%;
      padding-top: 5rem;
    }
  }

  #stories {
    margin-top: 8rem;
  }
}
