//HERO SECTION
#hero-section {
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-left: 23%;
  padding-top: 80px;

  p {
    max-width: 450px;
  }
}
//WELCOME SECTION
#welcome-section {
  display: flex;
  padding-bottom: 5rem;
  padding-top: 5rem;
  align-items: center;

  &__video {
    flex: 1;
    max-width: 50%;
    height: auto;
    margin-top: -5rem;
  }
  & .card-black {
    width: 400px;
    margin-left: 5rem;
    margin-top: 3rem;

    & p,
    h2 {
      margin-bottom: 3rem;
    }
  }

  //SERVICES SECTION
}
#services-section {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5rem;

  h2 {
    padding-bottom: 4rem;
  }

  .service__icon {
    width: 35px;
    max-height: 35px;
    margin: 0 2rem;
  }
}

//IMAGES SECTION
#images-section {
  height: 100vh;
  background-color: $light-background;
  color: $text-dark;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "lgv m1 m2 m3"
    "lgv lgh lgh m4";
}
#lgv {
  grid-area: lgv;
  background-image: url("../img/neurons.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
#m1 {
  grid-area: m1;
  background-image: url("../img/2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#m2 {
  grid-area: m2;
  background-image: url("../img/3.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#m3 {
  grid-area: m3;
  background-image: url("../img/4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#lgh {
  grid-area: lgh;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.6)
    ),
    url("../img/6.png");
}
#m4 {
  grid-area: m4;
  background-image: url("../img/5.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
//ROBOTICA SECTION
#robotica-section {
  padding-top: 8rem;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 15rem;

  h2 {
    margin-bottom: 8rem;
  }
}

//STORIES SECTION
#stories-section {
  color: black;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../img/mountain-background.png");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;

  #feature-story {
    display: flex;
    justify-content: center;

    &__img {
      width: 50%;
      margin-top: -8rem;
      color: white;
    }
    &__desc {
      width: 50%;
      padding-top: 5rem;
    }
  }

  #stories {
    margin-top: 8rem;
  }
}

//CONTACT SECTION

#contact-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 5rem;
  padding-top: 8rem;

  .contact {
    width: 100%;
    h2 {
      margin-bottom: 5rem;
    }
  }

  .contact__centro {
    display: flex;
    flex-direction: column;

    border-top: 2px solid gray;
    cursor: pointer;
    &__titulo {
      display: flex;
      padding-top: 0.8rem;
      justify-content: space-between;
      h3 {
        font-size: 0.9rem;
        padding-bottom: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
      }
    }
    &__direccion {
      max-width: 95%;
      max-height: 0;
      overflow: hidden;
      transition: max-height 1s ease;
      -webkit-transition: max-height 1s ease;
      -moz-transition: max-height 1s ease;
      -ms-transition: max-height 1s ease;
      -o-transition: max-height 1s ease;
    }

    &.active .contact__centro__direccion {
      max-height: 350px;
    }

    &.active h3 {
      color: $primary-color !important;
    }

    svg path {
      transition: all 0.5s ease;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
    }

    &.active svg path {
      d: path("M485,236H13a20,20,0,0,0,0,40H485a20,20,0,0,0,0-40Z");
    }

    &.active .cls-1 {
      fill: grey;
    }
  }
  .contact__info,
  .contact__text {
    max-width: 40%;
    margin-right: 3%;
  }
  #form-subsection {
    margin-top: 5rem;
  }
}
/* COLABORADORES SECTION */

#section-colaboradores {
  padding: 8rem 1rem;
  .level img {
    filter: grayscale(1);
  }
}

/* BLOG FEATURES POST SECTION */
#blog-feature-section {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 1rem;
  padding-bottom: 12rem;
  background-color: black;

  #feature-post {
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: black;

    &__img {
      width: 50%;
      color: white;
    }
    &__desc {
      width: 50%;
      padding-top: 5rem;
      font-size: 0.8rem;
    }
  }
}
/* BLOG POST SECTION */
#blog-posts-section {
  background-color: $light-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 8rem;
}
#posts-wrapper {
  padding-left: 1rem;
  padding-right: 1rem;

  img {
    margin-top: -6rem;
  }
}
